@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    src: local('Helvetica Neue'), url('../fonts/Helvetica/HelveticaNeue.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue Bold';
    font-style: normal;
    font-weight: 600;
    src: local('Helvetica Neue Bold'), url('../fonts/Helvetica/HelveticaNeueBold.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue Light';
    font-style: normal;
    font-weight: 200;
    src: local('Helvetica Neue Light'), url('../fonts/Helvetica/HelveticaNeueLight.woff') format('woff');
}
@font-face {
    font-family: 'Helvetica Neue Medium';
    font-style: normal;
    font-weight: 300;
    src: local('Helvetica Neue Medium'), url('../fonts/Helvetica/HelveticaNeueMedium.woff') format('woff');
}
