* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Helvetica Neue";
}

.container {
    display: flex;
}

#map {
    height: 100vh;
    width: calc(100% - 200px);
}

.sidebar {
    width: 200px;
    padding: 12px;

    .sidebar__title {
        font-size: 1.1em;
        font-family: "Helvetica Neue Bold";
        text-align: center;
        padding: 20px 40px;
    }

    .sidebar__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 35px;
        background: transparent;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        cursor: pointer;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        &:focus {
            outline: 0;
        }
        &:hover {
            border-bottom-width: 3px;
            padding-top: 2px;
        }
        &.active {
            background-color: rgba(0, 0, 0, .2);
        }
    }

    #clearBtn {
        margin-top: 7px;
    }

    .zip-lists-wrapper {
        height: calc(100vh - 240px);
        overflow-y: scroll;
    }

    .zip-lists {
        padding-left: 20px;
    }
}

.err {
    position: absolute;
    bottom: 17px;
    right: 17px;
    width: 200px;
    padding: 12px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    .err__title {
        text-align: center;
        font-family: "Helvetica Neue Bold";
        margin-bottom: 7px;
        color: red;
    }

    .err_content {
        font-family: "Helvetica Neue Light";
        overflow: scroll;
    }
}
